# Built-in GitIgnore for Android Kotlin Projects
.gradle/
build/
.idea/
*.iml
local.properties
# *.apk
!releases/download/v1.0.0/HomePlan-android.apk
*.aab
*.jks
*.keystore
.DS_Store
captures/
.externalNativeBuild/
*.log
google-services.json
